body {
  background-image: linear-gradient(hsl(278, 94%, 30%), hsl(249, 99%, 64%));
  margin: 0;
  height: 100vh;

  font-family: 'Outfit', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20.5rem;

  display: flex;
  flex-direction: column;
}

.mobileHeaderTransparent {
  height: 6.8125rem;
}

.headerImage {
  position: relative;
  width: 15rem;
  top: -6.875rem;
  margin-left: 2.9375rem;
}

.headerImageShadow {
  position: relative;
  width: 15rem;
  top: 6.8125rem;
  margin-left: 2.9375rem;
}

.spacer {
  height: 8.6875rem;
}

.faqBody {
  background-color: #fff;
  border-radius: 1.5625rem;
  padding-bottom: 3rem;
}

.faqHolder {
  margin: 0 1.5625rem;
}

.faqh1 {
  text-align: center;
}

.answer {
  height: 0;
  overflow: hidden;
  color: hsl(240, 6%, 50%);
  font-size: 0.875rem;
  /* animation: expand 1s forwards; */
  animation-play-state: paused;
  animation-name: expand;
  animation-duration: 1s;
}

.questionLine {
  display: flex;
  justify-content: space-between;
}

.questionLine:hover .question {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.question {
  color: hsl(237, 12%, 33%);
  line-height: 3.125rem;
  font-size: 0.875rem;
}

.arrowIcon {
  margin: auto 0;
  animation-play-state: paused;
  animation-name: rotate;
  animation-duration: 1s;
}

.desktopFaqGraphics {
  display: none;
  width: 31.25rem;
}

.desktopBackgroundGraphic {
  position: absolute;
}

.desktopSpacerTransparent {
  display: none;
}

hr {
  margin: 0;
  height: 0.0625rem;
  border: none;
  background-color: hsl(240, 6%, 50%);
}

h1 {
  margin: 0 0 1.25rem 0;
}
@keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 4.6875rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-180deg);
  }
}

@media screen and (min-width: 62.5rem) {
  .card {
    flex-direction: row;
    width: 60.3125rem;
    min-height: 31.875rem;
  }

  .spacer {
    height: 4.5rem;
  }

  .mobileHeaderTransparent {
    display: none;
  }

  .faqBody {
    margin-left: auto;
    margin-right: 0;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    padding-bottom: 0;
  }

  .desktopFaqGraphics {
    display: block;
    height: 31.875rem;
    width: 28.125rem;
  }

  .desktopImage {
    position: relative;
    top: -54.25rem;
    left: -5rem;
  }

  .desktopBackgroundGraphic {
    position: relative;
    left: -35.8125rem;
    top: -18.125rem;
  }

  .desktopSpacerTransparent {
    width: 2.8125rem;
    display: block;
  }
  .faqHolder {
    margin: 0 5.625rem 0 1.5625rem;
  }

  .desktopImageBobble {
    position: relative;
    left: -3.125rem;
    top: 13.6875rem;

    z-index: 1;
  }

  .faqh1 {
    text-align: left;
    margin-left: 1.5625rem;
  }
}
